.gradient{
    -fx-background-color: linear-gradient(to bottom right, #087ca7, #004385);
}

.white-form{
    -fx-background-color: #ffffff;
}

.head-label{
    -fx-border-color: #087ca7;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.login-button{
    -fx-background-color: linear-gradient(to bottom right, #087ca7, #004385);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.login-button:hover{
    -fx-background-color: #05b2dc;
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #087ca7, #004385);
    -fx-border-width: 0.5px;
}

.textfield:focused{
    -fx-border-width: 1px;
}

.create-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.create-button:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}













